$primaryBgColor: #5474fd;
$secondaryBgColor: #232323;
$additionalBgColor: #333333;
$fontSizes: (0.875, 1.375, 1.5, 2.25);
$marginTopValues: (10px, 20px, 48px);
$primaryFontFamily: "Josefin Sans";
$secondaryFontFamily: "Aleo";
