/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 25 version
*/

@use "./variables.scss";
@use "sass:color";

@mixin primaryBtn($minWidth, $padding) {
  min-width: $minWidth;
  background-color: variables.$primaryBgColor;
  font-family: variables.$secondaryFontFamily;
  padding: $padding;
  color: variables.$primaryTextColor;
  outline: none;
  border: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  &:hover,
  &:active {
    background-color: color.adjust(variables.$primaryBgColor, $lightness: -7%);
  }
}

/*HEADER AND HERO*/

.home-header {
  background-image: url(../images/img/hero.png);
  padding-top: 190px;
}

.header-second-heading {
  letter-spacing: 5px;
}

.search-field {
  height: 64px;
  width: 50%;
  border: none;
}

.search-btn {
  $padding: 18px 10px 14px 20px;
  @include primaryBtn(120px, $padding);
  border: 2px solid variables.$primaryTextColor;
  height: 64px;
  gap: 10px;
}

.search-icon {
  margin-left: 5px;
}

.scroll-down-label {
  margin-top: 75px;
  &:hover {
    cursor: pointer;
  }
}

.scroll-down-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  &:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: variables.$primaryBgColor;
  padding-top: 32px;
  padding-bottom: 32px;
}

.collapsed-navbar {
  border: none;
  background-color: transparent;
}

.nav-links {
  display: none;
}

.nav-links-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  background-color: variables.$primaryBgColor;
  position: absolute;
  bottom: 95px;
  left: 0;
  padding: 10px 5px;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*WHY CHOOSE US*/

.why-choose-us-section {
  background-image: url(../images/img/why-choose-us-bg.png);
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.why-us-images-section {
  display: none;
}

.primary-btn-custom {
  $padding: 21px 40px;
  @include primaryBtn(228px, $padding);
}

/*HOW IT WORKS*/

.how-it-works-section {
  background-color: variables.$additionalBgColor;
  padding: 30px;
}

.how-it-works-lines {
  display: none;
}

.how-it-works-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.how-it-works-labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 1.375rem;
}

/*FIRST & SECOND PLACE SPAIN*/
.first-place-section {
  background-image: url(../images/img/madrid-bg-1.png);
}

.second-place-section {
  background-image: url(../images/img/madrid-bg-2.png);
}

.place-wrapper {
  padding: 50px 32px;
  background-color: color.adjust(variables.$secondaryBgColor, $alpha: -0.1);
  max-width: 540px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

/*TESTIMONIAL*/
.testimony-section {
  background-image: url(../images/img/Testimonial.png);
  padding: 100px 20px 0 20px;
}

.testimony-img {
  display: none;
}

.testimonial-wrapper {
  margin-top: 20px;
}

.testimonial-description-wrapper {
  padding: 20px;
  background-color: variables.$secondaryBgColor;
  max-width: 670px;
}

/*FOOTER*/
.home-footer {
  background-color: variables.$secondaryBgColor;
  padding-top: 120px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 650px) {
  /*FIRST & SECOND PLACE SPAIN*/
  .first-place-section {
    padding-left: 50px;
  }

  .second-place-section {
    padding-right: 50px;
  }

  /*TESTIMONY*/
  .testimonial-description-wrapper {
    padding: 50px 25px 40px 60px;
  }
}

@media only screen and (min-width: 800px) {
  /*HEADER AND HERO*/

  .home-header {
    padding-top: 230px;
  }

  .search-field {
    width: 650px;
  }

  .scroll-down-label {
    margin-top: 108px;
  }

  .scroll-down-icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .collapsed-navbar {
    display: none;
  }

  .nav-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }

  /*WHY CHOOSE US*/

  .why-choose-us-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    padding: 0 70px;
    gap: 50px;
  }

  .why-choose-us-section > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .why-choose-us-section > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .why-us-images-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .why-us-image {
    max-width: 350px;
  }

  /*HOW IT WORKS*/

  .how-it-works-section {
    padding: 100px 20px 100px;
  }

  .how-it-works-labels {
    font-size: 2.25rem;
  }

  .how-it-works-lines {
    display: block;
    bottom: 62%;
    left: 20%;
    width: 60%;
    z-index: 0;
  }

  /*FIRST & SECOND PLACE SPAIN*/
  .first-place-section {
    padding-left: 150px;
  }

  .second-place-section {
    padding-right: 150px;
  }

  .testimonial-wrapper {
    margin-top: 90px;
  }
}

@media only screen and (min-width: 1000px) {
  .testimony-img {
    display: inline;
    max-width: 455px;
  }
  .testimonial-description-wrapper {
    height: 284px;
  }
  .footer-social-icon {
    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    &:hover,
    &:active {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .home-header {
    background-image: url(../images/img/hero.png);
    padding-top: 290px;
  }

  .why-choose-us-section {
    padding: 0 340px;
    gap: 100px;
  }

  .how-it-works-section {
    padding-top: 170px;
  }

  .how-it-works-lines {
    bottom: 55%;
  }

  .first-place-section {
    padding-left: 300px;
  }

  .second-place-section {
    padding-right: 300px;
  }
}
